

<p> Salut ! Veuillez confirmer votre email!
Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant:

<a href="http://campus-portal.my.p4d.click/personal-info/{{ id }}/{{ hashedId }}"> Confirmer mon e-mail.</a> </p>