{% extends 'admin/index.html.twig' %}

{% block title %}Modifier FAQ{% endblock %}

{% block content %}

    <h1>Modifier faq</h1>

    {{ include('faq_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary waves-effect waves-light" href="{{ path('app_faq_admin_index') }}">Retour à la liste</a>

    {{ include('faq_admin/_delete_form.html.twig') }}

<style>
a.btn.btn-secondary.waves-effect.waves-light {
    width: 15%;
    margin-top: 10px;
    margin-left: 10px;}
button.btn.btn-danger.waves-effect.waves-light {
    position: absolute;
    bottom: 0;
    right: 25%;
    width: 15%;
}

</style>  
{% endblock %}
